<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180349057229-uaj829thkcos06bc5tjld6uqmvhnroca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180349057229-uaj829thkcos06bc5tjld6uqmvhnroca</string>
	<key>API_KEY</key>
	<string>AIzaSyAPPRRA_0IlS4czQmVaX5xasZmD69-J6ko</string>
	<key>GCM_SENDER_ID</key>
	<string>180349057229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RNAuthApp</string>
	<key>PROJECT_ID</key>
	<string>authapp-3488e</string>
	<key>STORAGE_BUCKET</key>
	<string>authapp-3488e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180349057229:ios:85a662c6d1ec8a102f1184</string>
</dict>
</plist>